{% extends "layout.html" %}
<!-- Page to Show all products and filter them by category  -->
{% block head %}
{{ super() }}
{% endblock head%}
{% block title %}Product{% endblock title %}
{% block nav %}
<header class="header_area sticky-header">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light main_box">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" href="{{ url_for('home') }}"><img src="{{url_for ('static', filename='img/fav.png') }}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">Shop</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a href="{{url_for('allproduct')}}" class="nav-link">Shop</a></li>
                <li class="nav-item"><a href="{{url_for('getCart')}}" class="nav-link"> Cart ({{ session['Shoppingcart']|length }}) </a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
            {% if session['email']=="admin@admin.com" %}
            <li class="nav-item submenu dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li class="nav-item"><a class="nav-link" href="{{url_for('admin')}}">Product</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('brands')}}">Brand</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('categories')}}">Category</a></li>
              </ul>
            </li>
            <li class="nav-item submenu dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li class="nav-item"><a class="nav-link" href="{{url_for('addproduct')}}">Product</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('addbrand')}}">Brand</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('addcat')}}">Category</a></li>
              </ul>
            </li>
            {% endif %}
            <li class="nav-item active">
              {% if 'email' in session %}
              <a href="{{url_for('logout')}}" class="nav-link">Logout</a>
              {% else %}
              <a href="{{url_for('login')}}" class="nav-link">Login</a>
              {% endif %}
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a href="{{url_for('getCart')}}" class="cart"><span class="ti-bag"></span>({{ session['Shoppingcart']|length }})</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="search_input" id="search_input_box">
    <div class="container">
      <form class="d-flex justify-content-between">
        <input type="text" class="form-control" id="search_input" placeholder="Search Here">
        <button type="submit" class="btn"></button>
        <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
      </form>
    </div>
  </div>
</header>
{% endblock nav %}
{% block content %}
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>Products</h1>
        <nav class="d-flex align-items-center">
          <a href="{{ url_for('home') }}">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="{{url_for('allproduct')}}">Products<span class="lnr"></span></a>
        </nav>
      </div>
    </div>
  </div>
</section>
<div class="container mt-2">
  <div class="row">
    {% if get_cat_prod %}
    {% for product in get_cat_prod %}
    {% print(categories.id) %}
    <div class="col-lg-3 col-md-6">
      <div class="single-product">
        <img class="card-img-top" src="{{url_for('static',filename='img/'+product.image1)}}" alt="{{product.name}}" height="250">
        <div class="product-details">
          <h6>{{product.name}}</h6>
          <div class="price">
            <h6>{{product.price}}</h6>
          </div>
          <div class="prd-bottom">
            <a href="{{url_for('single',id=product.id)}}" class="social-info">
              <span class="lnr lnr-move"></span>
              <p class="hover-text">view more</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  <div class="container mt-4 mb-4"></div>
  <div class="row">
    {% else %}
    {% for product in products.items %}
    <div class="col-lg-3 col-md-6">
      <div class="single-product">
        <img class="card-img-top" src="{{url_for('static',filename='img/'+product.image1)}}" alt="{{product.name}}" height="250">
        <div class="product-details">
          <h6>{{product.name}}</h6>
          <div class="price">
            <h6>{{product.price}}</h6>
          </div>
          <div class="prd-bottom">
            <a href="{{url_for('single',id=product.id)}}" class="social-info">
              <span class="lnr lnr-move"></span>
              <p class="hover-text">view more</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col text-center mt-3 mb-3">
      {% if products.has_prev %}
      <a href="{{url_for('allproduct',page=products.prev_num)}}" class="btn btn-sm btn-outline-info">Prev</a>
      {% endif %}
      {% for page_num in products.iter_pages() %}
      {% if page_num %}
      {% if products.page==page_num %}
      <a href="{{url_for('allproduct',page=page_num)}}" class="btn btn-sm btn-info">{{page_num}}</a>
      {% else %}
      <a href="{{url_for('allproduct',page=page_num)}}" class="btn btn-sm btn-outline-info">{{page_num}}</a>
      {% endif %}
      {% else %}
      ...
      {% endif %}
      {% endfor %}
      {% if products.has_next %}
      <a href="{{url_for('allproduct',page=products.next_num)}}" class="btn btn-sm btn-outline-info">Next</a>
      {% endif %}
    </div>
  </div>
    {% endif %}
  </div>
</div>
{% endblock content%}