{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock head %}
{% block title %}Home{% endblock title %}
{% block content %}

        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="index.html">Home</a></li>
                                    <li class="is-marked">

                                        <a href="dash-my-order.html">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                                    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                        <div class="dash__pad-1">

                                            <span class="dash__text u-s-m-b-16">Hello, {{user.fname +' '+user.lname}}</span>
                                            <ul class="dash__f-list">
                                                <li>

                                                    <a class="dash-active" href="{{url_for('profile')}}">Manage My Account</a></li>
                                                <li>

                                                    <a href="{{url_for('profile')}}">My Profile</a></li>
                                                <li>

                                                    <a href="{{url_for('t_order')}}">Track Order</a></li>
                                                <li>

                                                    <a href="{{url_for('orders')}}">My Orders</a></li>
                                                {% if merchant %}
                                                    <li>

                                                        <a href="{{url_for('addproduct')}}">Add Product</a></li>
                                                    <li>

                                                        <a href="{{url_for('merchant')}}">Manage Product</a></li>
                                                {% elif admin %}
                                                    <li>

                                                        <a href="{{url_for('addproduct')}}">Add Product</a></li>
                                                    <li>

                                                        <a href="{{url_for('addcat')}}">Add Category</a></li>
                                                    <li>

                                                        <a href="{{url_for('merchant')}}">Manage Product</a></li>
                                                    <li>

                                                        <a href="{{url_for('categories')}}">Manage Category</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <h1 class="dash__h1 u-s-m-b-14">My Orders</h1>
                                            <div class="m-order__list">
                                                {% for key,delivery in delivery_items.items() %}
                                                <div class="m-order__get">
                                                    <div class="manage-o__header u-s-m-b-30">
                                                        <div class="dash-l-r">
                                                            <div>
                                                                <div class="manage-o__text-2 u-c-secondary">Order {{delivery.id}}</div>
                                                                <div class="manage-o__text u-c-silver">Placed on {{delivery.placed_od}}</div>
                                                            </div>
                                                            <div>
                                                                <div class="dash__link dash__link--brand">

                                                                    <a href="{{url_for('track_order', delivery_id=delivery.id)}}">MANAGE</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="manage-o__description">
                                                        <div class="description__container">
                                                            <div class="description__img-wrap">

                                                                <img class="u-img-fluid" src="images/product/electronic/product3.jpg" alt=""></div>
                                                            <div class="description-title">{{delivery.name}}</div>
                                                        </div>
                                                        <div class="description__info-wrap">
                                                            <div>

                                                                <span class="manage-o__badge badge--processing">{{delivery.shipment}}</span></div>
                                                            <div>

                                                                <span class="manage-o__text-2 u-c-silver">Quantity:

                                                                    <span class="manage-o__text-2 u-c-secondary">{{delivery.quantity}}</span></span></div>
                                                            <div>

                                                                <span class="manage-o__text-2 u-c-silver">Total:

                                                                    <span class="manage-o__text-2 u-c-secondary">{{delivery.price}}</span></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->
{% endblock content %}