<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href={% static 'css/chatbot.css' %}>
    <title>Chatbot</title>
</head>
<body>
    <div id="chat-circle" class="btn btn-raised">
        <div id="chat-overlay"></div>
        <img class="chat-circle_robot" src="https://cdn.iconscout.com/icon/free/png-256/robot-86-404724.png">
    </div>
     <div class="chat-box">
            <div class="chat-box-body">
                <div class="chat-box-welcome__header">
                    <div class="chat-box__header-text">
                          <p3 class="chat-box-welcome__company-name">ChatBot</p3>
                        <span class="chat-box-toggle"><i class="material-icons">cancel</i></span>
                    </div>
                    <div id="chat-box-welcome__ava">
                        <img class="chat-box-welcome_robot" src="https://cdn.iconscout.com/icon/free/png-256/robot-86-404724.png">
                    </div>
                    <div class="chat-box-welcome__welcome-text">
                        <p>Hi! I'm ChatBot IDA, what can I assist you with?</p>
                    </div>
                </div>
                <div id="chat-box__wraper">
                    <div class="chat-box-header">
                        ChatBot
                        <span class="chat-box-toggle"><i class="material-icons">cancel</i></span>
                    </div>
                    <div class="chat-box-overlay">
                    </div>
                    <div class="chat-logs">
                        <div id="cm-msg-0" class="chat-msg bot">
                            <div class="cm-msg-text">
                                Hi! I'm ChatBot IDA, what can I assist you with?
                            </div>
                        </div>
                         <div class="spin-container">
                            <div class="spiner">
                                <div aria-hidden="true"></div>
                                <div aria-hidden="true"></div>
                                <div aria-hidden="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="chat-input-box" id="chatLog">
                <form class="chat-input__form">
                   <input type="text" class="chat-input__text" id="chat-input__text" placeholder="Send a message..." /> 
                    <button type="submit" class="chat-submit" id="chat-submit">
                      <i class="material-icons">send</i>
                  </button>
                </form>
            </div>
        </div>
    </div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src={% static 'js/app.js' %}></script>
</body>
</html>