{% extends "layout.html" %}
<!-- Page to manage cart items in the system -->
{% block head %}
{{ super() }}
{% endblock head%}
{% block title %}Cart{% endblock title %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">SoftWarehouse</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a href="{{url_for('allproduct')}}" class="nav-link">Product</a>
      </li>
      <li class="nav-item active">
        <a href="{{url_for('getCart')}}" class="nav-link"> Cart ({{ session['Shoppingcart']|length }}) </a>
      </li>
      <li class="nav-item">
        {% if 'email' in session %}
        <a href="{{url_for('logout')}}" class="nav-link">Logout</a>
        {% else %}
        <a href="{{url_for('login')}}" class="nav-link">Login</a>
        {% endif %}
      </li>
      {% if session['email']=="admin@admin.com" %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{url_for('admin')}}">Product</a>
          <a class="dropdown-item" href="{{url_for('brands')}}">Brand</a>
          <a class="dropdown-item" href="{{url_for('categories')}}">Category</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{url_for('addproduct')}}">Product</a>
          <a class="dropdown-item" href="{{url_for('addbrand')}}">Brand</a>
          <a class="dropdown-item" href="{{url_for('addcat')}}">Category</a>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock nav %}
{% block content %}
<div class="container mt-4 mb-5">
    {% include '_message.html' %}
    <div class="row">
        <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Image</th>
                <th>Name</th>
                <th>Color</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Subtotal</th>
                <th>Update</th>
                <th>Remove</th>
            </thead>
            <tbody>
                {% for key, product in session['Shoppingcart'].items() %}
                {% set discount =(product.discount/100) * product.price|float %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><img src="{{url_for('static',filename='img/'+ product.image)}}" alt="{{product.name}}" width="50" height="45"></td>
                    <td>{{product.name}}</td>
                    <form action="{{url_for('updatecart', code=key)}}" method="post">
                    <td>
                        {% set colors = product.colors.split(',') %}
                        <label for="colors">Colors: </label>
                        <select name="color" id="color">
                            <option value="{{product.color}}" style="display: none;">{{product.color|capitalize}}</option>
                            {% for color in colors %}
                            {% set col = color.split(':') %}
                            <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                            {% endfor %}
                        </select>
                    
                    </td>
                    <td>${{"%.2f"|format(product.price)}}</td>
                    <td> <input type="number" name="quantity" min="1" max="{{product.stock}}" value="{{product.quantity}}"> </td>
                    {% if product.discount  %}
                    <td>{{product.discount}} % &nbsp; &nbsp; is {{"%.2f"|format(discount)}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% set subtotal = product.quantity|int * product.price|float  %}
                    <td>${{"%.2f"|format(subtotal - discount|round(1,'floor')) }}</td>
                    <td><button type="submit" class="btn btn-sm btn-info">Update</button> </td>
                </form>
                    <td> <a href="{{url_for('deleteitem', id=key)}}" class="btn btn-sm btn-danger">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-sm mt-3 mb-3">
           <tr>
               <td> <a href="{{url_for('checkout')}}" class="btn btn-success"> Check out </a> </td>
               <td width="35%"></td>
               <td> <h5>Tax: ${{tax}}</h5></td>
               <td> <h5>Grand total: ${{grandtotal}}</h5> </td>
                <td> <a href="{{url_for('clearcart')}}" class="btn btn-danger float-right mr-4"> Clear cart</a> </td>
           </tr>
        </table>
    </div>
  </div>
</div>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12 mt-5 mb-3"></div>
    </div>
</div>

{% endblock content %}