{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock head %}
{% block title %}Home{% endblock title %}
{% block content %}
{% include "_message.html" %}
<div class="container mt-2">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<h4 class="text-center">Add a Product</h4>
			{% from "_formhelpers.html" import render_field %}
			<form action="" method="POST" enctype="multipart/form-data">
				{{ render_field(form.name,class="input-text input-text--primary-style",placeholder="Product Name") }}
				{{ render_field(form.price,class="input-text input-text--primary-style",placeholder="Product Price") }}
				{{ render_field(form.discount,class="input-text input-text--primary-style",placeholder="Product Discount") }}
				{{ render_field(form.stock,class="input-text input-text--primary-style",placeholder="Stock") }}
				<label for="category"><b>Category</b></label><br>
				<select name="category" id="category" class="form-control" required>
					<option value="">Select a Category</option>
					{% for cat in categories%}
					<option value="{{cat.id}}">{{cat.name}}</option>
					{% endfor %}
				</select><br><br>
				{{ render_field(form.description,class="input-text input-text--primary-style",placeholder="Description",rows="10") }}
				<div class="container">
					<div class="row">
						<div class="col-md-4">{{ render_field(form.image1,class="input-text input-text--primary-style") }}</div>
						<div class="col-md-4">{{ render_field(form.image2,class="input-text input-text--primary-style") }}</div>
						<div class="col-md-4">{{ render_field(form.image3,class="input-text input-text--primary-style") }}</div>
					</div>
				</div>
        {{ render_field(form.merchant_id,class="input-text input-text--primary-style",placeholder="merchant id") }}
        {{ render_field(form.merchant_name,class="input-text input-text--primary-style",placeholder="merchant Name") }}
        {{ render_field(form.merchant_phone,class="input-text input-text--primary-style",placeholder="merchant Phone") }}
        {{ render_field(form.merchant_address,class="input-text input-text--primary-style",placeholder="merchant Address") }}
				<button type="submit" class="btn btn-outline-info mt-4">Add Product></button>
			</form>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>

<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-12 mt-3 mb-3"></div>
	</div>
</div>
{% endblock content%}