{% extends "layout.html" %}
<!-- Page to manage cart items in the system -->
{% block head %}
{{ super() }}
{% endblock head%}
{% block title %}Admin Profile{% endblock title %}
{% block nav %}
<header class="header_area sticky-header">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light main_box">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" href="{{ url_for('home') }}"><img src="{{url_for ('static', filename='img/fav.png') }}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">Shop</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a href="{{url_for('allproduct')}}" class="nav-link">Shop</a></li>
                <li class="nav-item"><a href="{{url_for('getCart')}}" class="nav-link"> Cart ({{ session['Shoppingcart']|length }}) </a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
            {% if session['email']=="admin@admin.com" %}
            <li class="nav-item submenu dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li class="nav-item"><a class="nav-link" href="{{url_for('admin')}}">Product</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('brands')}}">Brand</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('categories')}}">Category</a></li>
              </ul>
            </li>
            <li class="nav-item submenu dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li class="nav-item"><a class="nav-link" href="{{url_for('addproduct')}}">Product</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('addbrand')}}">Brand</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('addcat')}}">Category</a></li>
              </ul>
            </li>
            {% endif %}
            <li class="nav-item">
              {% if 'email' in session %}
              <a href="{{url_for('logout')}}" class="nav-link">Logout</a>
              {% else %}
              <a href="{{url_for('login')}}" class="nav-link">Login</a>
              {% endif %}
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active"><a href="{{url_for('getCart')}}" class="cart"><span class="ti-bag"></span>({{ session['Shoppingcart']|length }})</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="search_input" id="search_input_box">
    <div class="container">
      <form class="d-flex justify-content-between">
        <input type="text" class="form-control" id="search_input" placeholder="Search Here">
        <button type="submit" class="btn"></button>
        <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
      </form>
    </div>
  </div>
</header>
{% endblock nav %}
{% block content %}
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>Admin Profile</h1>
        <nav class="d-flex align-items-center">
          <a href="{{ url_for('home') }}">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="{{url_for('adminprofile')}}">Admin Profile<span class="lnr"></span></a>
        </nav>
      </div>
    </div>
  </div>
</section>
<div class="container mt-4 mb-5">
    <label>Add</label><br>
    <button type="button" class="btn btn-outline-primary" onclick="window.location.href=`{{url_for('addproduct')}}`;">Product</button>
    <button type="button" class="btn btn-outline-primary" onclick="window.location.href=`{{url_for('addbrand')}}`;">Brand</button>
    <button type="button" class="btn btn-outline-primary" onclick="window.location.href=`{{url_for('addcat')}}`;">Category</button>
    <hr>
    <label>Manage</label><br>
    <button type="button" class="btn btn-outline-primary" onclick="window.location.href=`{{url_for('admin')}}`;">Product</button>
    <button type="button" class="btn btn-outline-primary" onclick="window.location.href=`{{url_for('brands')}}`;">Brand</button>
    <button type="button" class="btn btn-outline-primary" onclick="window.location.href=`{{url_for('categories')}}`;">Category</button>
    <hr>
</div>

<br><br><br>

{% endblock content %}